*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

header, main, footer{
    display: flex;
}

main{
    flex-basis: 80vh;
    background-color: #EAD7BB;
    align-items: center;
}

header, footer{
    flex-basis: 10vh;
}

.sliderContainer{
    display: flex;
    gap: 1em;
    background-color: #bca37f91;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    height: 10vh;
    padding: 1em;
    border-radius: 1em;
}

.sketchArea{
    border: 0.1px solid black;
}

.hovered{
    background-color: black;
}

.sketchContainer{
    display: flex;
    width: 30em;
    height: 30em;
    flex-wrap: wrap;
    margin: auto;
}

.headerContainer, .footerContainer {
    justify-content: center;
    background-color: #113946;
    color: white;
}

a, a:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.header, .footer{
    align-self: center;
}